body {
    background-color: rgb(134, 228, 231);
}

header {
    text-align: center;
    margin: 2%;
}

#quiz{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 248, 149);
    margin: 150px 100px;
    padding: 10px;
    border: 5px solid rgb(53, 27, 196);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}

#startQuiz{
    margin: 10px;
}

h3,
p,
ul,
#timer,
#time {
    padding: 2px 10px;
    justify-self: center;
}

li {
    padding: 10px 20px;
}